@import "tailwindcss";

@theme {
    --font-quicksand: "Quicksand", sans-serif;
    --font-worksans: "Work Sans";

    --color-main: #ff4030;
    --color-secondary: #c39870;
    --color-light: #f0f0f0;
    --color-dark: #6e5b3d;
}

@layer components {
    .button {
        @apply cursor-pointer rounded-2xl px-12 py-3 text-center text-sm font-bold tracking-widest uppercase;
    }
}

@layer utilities {
    .scroll-none {
        scrollbar-width: none;
    }

    .bg-hero-vertical {
        background:
            linear-gradient(var(--color-white) 30%, #fff8),
            url("/imgs/back-hero.webp");
    }

    .bg-hero-horizontal {
        background:
            linear-gradient(to right, var(--color-white) 40%, #fff8),
            url("/imgs/back-hero.webp");
    }

    .bg-faq {
        background: linear-gradient(135deg, #c3987088, transparent 60%);
    }

    .bt-shape::before {
        content: "";
        @apply pointer-events-none absolute -right-0.5 -bottom-0.5 -left-0.5 z-30 h-37 bg-[url('/icons/shape.svg')] bg-size-[200%_150px] bg-position-[0%_100%] bg-no-repeat;
    }

    .tp-shape::after {
        content: "";
        @apply pointer-events-none absolute top-0 -right-0.5 -left-0.5 z-30 h-37 rotate-180 bg-[url('/icons/shape.svg')] bg-size-[200%_150px] bg-position-[0%_100%] bg-no-repeat;
    }
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/** Calendar Styles **/

.calendar:nth-child(odd) {
    @apply text-secondary max-w-dvw bg-white pt-48 pb-24 text-center;
}

.calendar .section-header {
    @apply grow basis-[min(15rem,100%)];
}

.calendar > div {
    @apply flex grow basis-[min(15rem,100%)] flex-col gap-12;
}

/************************************* Footer Styles ****************************************/

.footer-rights {
    @apply flex flex-col items-center gap-2;
}

.footer-rights__copy,
.footer-rights__author {
    @apply block text-center text-sm;
}

.footer-rights__copy {
    @apply uppercase;
}

.footer-rights__author a {
    @apply text-sm font-bold underline;
}
